body {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imgBackground {
  width: 100vw;
  position: fixed;
  top: 0;
}
.appContainer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
main {
  max-width: 1200px;
  width: 80%;
  padding: 60px;
  border-radius: 6px;
  background-color: #242424;
  text-align: center;
  z-index: 0;
}
main .imgVector {
  transform: translate(-0px, -50px);
  position: absolute;
  z-index: -1;
}
main h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
main p {
  font-weight: 500;
  color: rgb(125, 122, 122);
  margin: 20px;
}
main button {
  margin: 5px 10px;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 640px) {
  html {
    width: 540px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .imgBackground {
    width: 540px;
    position: fixed;
    top: 0;
  }
}
